/*  ************   specifique exo_7.html *************/

#bodyexo7 {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  padding: 0px;
  width: 800px;
}

#header7 {
  background-size: cover;
  text-align: center;
  width: 100%;
  background: url(../images/guirlande.jpg) no-repeat;
}


#h1_7 {
  color: gold;
  font-size: 30px;
  text-shadow: 1px 1px brown;
}

#slogan7 {
  font-size: 30px;
  font-style: italic;
}

.section7 {
  /* border:2px solid greenyellow; */
  width: 65%;
  padding-left: 40px;
  text-align: justify;
}



 /* aside vidéos */
 
#videoBar7 {
  width: 30%;
  float: right;
  padding-right: 10px;
}

.div7 { 
  padding-left: 50px; 
}

.video7 {
  height: 97px;
  width: 155px;
  padding-bottom: 20px;
  overflow-wrap: break-word;
}

 /*  boite à liens en bas */
#fieldset7, #h2_7{
  margin-left: 40px;
  padding-left: 50px;
}

.legend7 {
  padding: 0px 10px;
  font-size: larger;
}
/*  -----------    texte   -----------    */ 
.text_gold {
  color: gold;
  text-shadow: 1px 1px brown;
}

._gras {
  font-weight: bold;
}

/* -----------  images   ----------  */
img {
  /* border: 1px solid black; */
  margin: 10px 0px 30px 20px;
}

#img_7 {
  width: 100%;
  margin: 0px;
}

#lien7 {
  font-size: 12px;
  color: blueviolet;
  text-shadow: none;
}

/*  a voir plus tard 
p::before { 
  margin-top:-15px;
  margin-left:25px;
  position:absolute;
  content: "Read this -";
  background-color: yellow;
  color: red;
  font-weight: bold;
  */