#bloc1 {
  background-color: #2574a9;
}

#legend1 {
  background-color: #2574a9;
}

#bloc2 {
  background-color: #9a12b3;

}

#legend2 {
  background-color: #9a12b3;

}



#legend3 {
  background-color: #db0a5b;
}

#bloc3 {
  background-color: #db0a5b;

}