html {

  background-color: rgb(216, 220, 223);
}

body {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  background-color: beige;
}

h1 {
  color: rgb(37, 212, 235);
  font-size: 30px;
}

header {
  background: url(../images/banniere.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  border: 3px solid blueviolet;
  padding-left: 120px;
}

fieldset,
div {
  border: 3px solid orange;
  padding-left: 50px;
}

/*        classes    */
._gras {
  font-weight: bold;
}

.plus_gros {
  font-size: 26px;
}

/* -----------  images   ----------  */
img {
  border: 1px solid black;
  margin: 10px 0px 30px 20px;
}

.petiteimg {
  width: 85%;
  height: auto;
}

.alignvert {
  vertical-align: bottom;
}

.stop_float {
  clear: both
}

legend {
  padding: 0px 10px;
  color: blue;
  font-size: larger;
}

/*  a voir plus tard 
p::before { 
  margin-top:-15px;
  margin-left:25px;
  position:absolute;
  content: "Read this -";
  background-color: yellow;
  color: red;
  font-weight: bold;
  */